[user]
	email = cooperoliff@gmail.com
	name = CoopTRUE
	signingkey = 9D971987FF86E875
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[core]
	pager = delta
	whitespace = trailing-space,space-before-tab,tab-in-indent,cr-at-eol
	eol = lf
	autocrlf = input
	ignorecase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[apply]
	whitespace = fix
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
